In [1]:
import pandas as pd

import MySQLdb


db = MySQLdb.connect(
    "db.fastcamp.us",  # DATABASE_HOST
    "root",  # DATABASE_USERNAME
    "dkstncks",  # DATABASE_PASSWORD
    "sakila",  # DATABASE_NAME
    charset='utf8',
)

In [2]:
table_df = pd.read_sql("SHOW TABLES;", db)

In [3]:
table_df.head()

  Tables_in_sakila
0            actor
1       actor_info
2          address
3         category
4             city

In [4]:
for index, row in table_df.iterrows():
    table_name = row.get("Tables_in_sakila")
    SQL_QUERY = """
        SELECT *
        FROM {table_name}
        ;
    """.format(
        table_name=table_name,
    )
    pd.read_sql(SQL_QUERY, db).to_csv("./sakila/{table_name}.csv".format(table_name=table_name))