# MySQL 데이터베이스 생성하기

In [1]:
import os

import MySQLdb

In [2]:
DATABASE_HOST = "localhost"  # "localhost" == "127.0.0.1"

DATABASE_USERNAME = os.environ.get("DATABASE_USERNAME", "YOUR_USERNAME")
DATABASE_PASSWORD = os.environ.get("DATABASE_PASSWORD", "YOUR_PASSWORD")

# 기존의 예제와는 다르게 DB가 현재 생성된 상태가 아닙니다.
NEW_DATABASE_NAME = "fastcampus_data_science_db"

In [3]:
connection = MySQLdb.connect(
    DATABASE_HOST,
    DATABASE_USERNAME,
    DATABASE_PASSWORD,
    # DATABASE_NAME,
    charset='utf8',
)

In [4]:
connection

In [5]:
cursor = connection.cursor()

In [6]:
SQL_QUERY = "CREATE DATABASE IF NOT EXISTS {new_database_name}".format(
    new_database_name=NEW_DATABASE_NAME,
)

cursor.execute(SQL_QUERY)

1

In [7]:
SQL_QUERY = """
    SHOW DATABASES;
"""

cursor.execute(SQL_QUERY)
cursor.fetchall()

(('information_schema',),
 ('fastcampus_data_science_db',),
 ('fastcourses',),
 ('fastlink',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',))