# MySQL 테이블 생성하기

In [1]:
import os

import pandas as pd

import MySQLdb

In [2]:
DATABASE_HOST = "localhost"  # "localhost" == "127.0.0.1"

DATABASE_USERNAME = os.environ.get("DATABASE_USERNAME", "YOUR_USERNAME")
DATABASE_PASSWORD = os.environ.get("DATABASE_PASSWORD", "YOUR_PASSWORD")

DATABASE_NAME = "fastcampus_data_science_db"

In [3]:
connection = MySQLdb.connect(
    DATABASE_HOST,
    DATABASE_USERNAME,
    DATABASE_PASSWORD,
    DATABASE_NAME,
    charset='utf8',
)

In [4]:
connection

cursor = connection.cursor()

In [5]:
SQL_QUERY = """
    CREATE TABLE IF NOT EXISTS fastroom 
    (
        email varchar(255),
        phonenumber varchar(255),
        address varchar(255),
        deposit int,
        rent int
    );
"""

cursor.execute(SQL_QUERY)

/Users/dobestan/.pyenv/versions/datascience/lib/python3.5/site-packages/ipykernel/__main__.py:12: Warning: Table 'fastroom' already exists

0

In [6]:
SQL_QUERY = """
    SHOW TABLES;
"""

cursor.execute(SQL_QUERY)
cursor.fetchall()

(('fastroom',),)

In [7]:
SQL_QUERY = """
    SELECT *
    FROM fastroom;
"""

pd.read_sql(SQL_QUERY, connection)

Empty DataFrame
Columns: [email, phonenumber, address, deposit, rent]
Index: []