In [1]:
import MySQLdb


db = MySQLdb.connect(
    "db.fastcamp.us",
    "root",
    "dkstncks",
    "world",
    charset='utf8',
)
cursor = db.cursor()

In [2]:
# World Database 는 크게 3가지 테이블로 구성되어 있다.
# 1. Country
# 2. City
# 3. CountryLanguage

In [3]:
import pandas as pd

In [4]:
table_name_list = [
    "Country",
    "City",
    "CountryLanguage",
]

In [5]:
for table_name in table_name_list:
    SQL_QUERY = """
        SELECT *
        FROM {table_name}
        ;
    """.format(
        table_name=table_name,
    )
    
    df = pd.read_sql(SQL_QUERY, db)
    df.to_csv("world_{table_name}".format(table_name=table_name))