In [1]:
import MySQLdb


db = MySQLdb.connect(
    "db.fastcamp.us",
    "root",
    "dkstncks",
    "world",
    charset='utf8',
)

cursor = db.cursor()

In [2]:
import pandas as pd

In [3]:
# SQL Perspective

SQL_QUERY = """
    SELECT SUM(Population)
    FROM Country;
"""

pd.read_sql(SQL_QUERY, db)

   SUM(Population)
0       6078749450

In [4]:
# Pandas Perspective

SQL_QUERY = """
    SELECT *
    FROM Country;
"""

df = pd.read_sql(SQL_QUERY, db)

In [5]:
df["Population"].sum()

6078749450

In [6]:
# New Example - MAX, MIN, MEAN, ...

SQL_QUERY = """
    SELECT AVG(Population)
    FROM Country;
"""

pd.read_sql(SQL_QUERY, db)

   AVG(Population)
0    25434098.1172

In [7]:
SQL_QUERY = """
    SELECT *
    FROM Country;
"""

df = pd.read_sql(SQL_QUERY, db)

In [8]:
df["Population"].mean()

25434098.117154811