In [1]:
import MySQLdb


db = MySQLdb.connect(
    "db.fastcamp.us",
    "root",
    "dkstncks",
    "world",
    charset='utf8',
)

cursor = db.cursor()

In [2]:
import pandas as pd

In [10]:
# SQL Perspective
SQL_QUERY = """
    SELECT DISTINCT(Region)
    FROM Country;
"""

cursor.execute(SQL_QUERY)
cursor.fetchall()

(('Caribbean',),
 ('Southern and Central Asia',),
 ('Central Africa',),
 ('Southern Europe',),
 ('Middle East',),
 ('South America',),
 ('Polynesia',),
 ('Antarctica',),
 ('Australia and New Zealand',),
 ('Western Europe',),
 ('Eastern Africa',),
 ('Western Africa',),
 ('Eastern Europe',),
 ('Central America',),
 ('North America',),
 ('Southeast Asia',),
 ('Southern Africa',),
 ('Eastern Asia',),
 ('Nordic Countries',),
 ('Northern Africa',),
 ('Baltic Countries',),
 ('Melanesia',),
 ('Micronesia',),
 ('British Islands',),
 ('Micronesia/Caribbean',))

In [4]:
pd.read_sql(SQL_QUERY, db)

                       Region
0                   Caribbean
1   Southern and Central Asia
2              Central Africa
3             Southern Europe
4                 Middle East
5               South America
6                   Polynesia
7                  Antarctica
8   Australia and New Zealand
9              Western Europe
10             Eastern Africa
11             Western Africa
12             Eastern Europe
13            Central America
14              North America
15             Southeast Asia
16            Southern Africa
17               Eastern Asia
18           Nordic Countries
19            Northern Africa
20           Baltic Countries
21                  Melanesia
22                 Micronesia
23            British Islands
24       Micronesia/Caribbean

In [9]:
# Pandas Perspective
df = pd.read_sql("SELECT * FROM Country;", db)
df["Region"].unique()

array(['Caribbean', 'Southern and Central Asia', 'Central Africa',
       'Southern Europe', 'Middle East', 'South America', 'Polynesia',
       'Antarctica', 'Australia and New Zealand', 'Western Europe',
       'Eastern Africa', 'Western Africa', 'Eastern Europe',
       'Central America', 'North America', 'Southeast Asia',
       'Southern Africa', 'Eastern Asia', 'Nordic Countries',
       'Northern Africa', 'Baltic Countries', 'Melanesia', 'Micronesia',
       'British Islands', 'Micronesia/Caribbean'], dtype=object)